@font-face {
 font-family:ibmvga8;
 src:url(/fonts/ivm_vga8.eot);
 src:url(/fonts/ivm_vga8.eot?#iefix) format('embedded-opentype'),
 url(/fonts/ibm_vga8.woff2) format('woff2'),
 url(/fonts/ibm_vga8.woff) format('woff'),
 url(/fonts/ibm_vga8.ttf) format('truetype');
 font-weight:400;
 font-style:normal
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: black;
  color: rgb(148, 148, 148);
  font-family: "ibmvga8", monospace;
}

h1 {
  color: rgb(148, 148, 148);
}

a {
  text-decoration: none;
  color:  rgb(200, 200, 200);
}

a:hover {font-weight:bolder;}

#footer {
  position: fixed;
  background: black;
  bottom: 0;
  width: 100%;
}
#footer img {display: none;}
.right {display: none;}
.left {display: none;}
